.register {
  margin: 0 auto;
}

.form-section {
  margin: 0 auto;
}

.nav-wrapper {
  margin: 0 auto;
}

.emojimage {
  text-align: center;
  font-size: 100px;
}

/* stuff for response rating radio buttons*/

.newresponse {
    float:left;
    width:300px;
}
.newresponse span { float:right; position:relative; }
.newresponse span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.newresponse span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.newresponse span:hover ~ span label,
.newresponse span:hover label,
.newresponse span.checked label,
.newresponse span.checked ~ span label {
    background:#F90;
    color:#FFF;
}

