/* BODY AND NAV*/

html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;  height: 100%;
  min-height: 100%;
  color: black;
  background-color: #9b59b6;
}

h1, h2, h3, h4, p, a {
  text-align: center;
}

nav {
  background: #813a9d;
  box-shadow: none;
  /*  border-bottom: 2px solid black; */
}

nav .brand-logo {
  font-size: 3.2rem;
  color: white;
}

nav ul a {
  font-size: 1.5rem;
  color: white;
}

nav a {
  color: white;
}

.container {
  margin-top: 14px;
}

form {
  text-align: center;
  margin: 0 50px;
}

.logo {
  z-index: 5000;
  margin: auto;
  color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-style: italic;
  vertical-align: middle;
}

.btn {
  color: #2bbbad;
  background: none;
  box-shadow: none;
  /*border: 2px solid;*/
  border-style: solid;
  border-width: thick;
  border: #2bbbad;
  transition: 1000s ease-out;
}

input[type=text], input[type=password]  {
  border-bottom: 2px solid white;
}

.input-field input[type=text]:focus {
  border-bottom: 2px solid white;
}

.input-field label {
  color: white;
  font-size: 1.3em;
}

.input-field input[type=text]:focus + label {
  color: white;
}

.input-field label.active {
  color: white;
}

/*STYLING CARDS ON USER SHOW*/

.card .card-content p {
  /*border: solid black 2px;*/
  background-color: #9b59b6;
  font-size: 20px;
}


/*STYLING POLLS ON GROUP SHOW*/

.card, .collapsible-header, .collapsible-body {
  padding: 5px;
}

/*.container .row {
  padding: 0 22px;
}*/


/*  REMOVE SHADOW FROM BOX */

.card, .collapsible-header, .collapsible-body {
  background-color: white;
}

.register {
  margin: 0 auto;
}

.form-section {
  margin: 0 auto;
}

.nav-wrapper {
  margin: 0 auto;
}

.emojimage {
  text-align: center;
  font-size: 100px;
}

/* IMPROVING POLL APPEARANCE */

.collapsible.popout>li {
  margin-bottom: 25px;
}


/* stuff for response rating radio buttons*/

#newresponse {
  display: block;
}

.collapsible-body {
  position: relative;
}

.newresponse {
  float:left;
  width:300px;
  position: absolute;
  top: 0;
}

.newresponse span { 
  float: left;
  position:relative; 
}

.newresponse span:nth-child(1) { 
  margin-left: 30px;
}

.newresponse span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.newresponse span label {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  color:#FFF;
  background:#ccc;
  font-size:30px;
  margin-right:2px;
  line-height:30px;
  border-radius:50%;
  -webkit-border-radius:50%;
}
.newresponse span:hover ~ span label,
.newresponse span:hover label,
.newresponse span.checked label,
.newresponse span.checked ~ span label {
  background:#F90;
  color:#FFF;
}


/*Particles*/

canvas {
  display: block;
  vertical-align: bottom;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #9b59b6;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #FFFC00;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
