/* BODY AND NAV*/

html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;  height: 100%;
  min-height: 100%;
  color: white;
  background-color: #78909C;
}

h1, h2, h3, h4, h5, p, a {
  text-align: center;
}

h1 {
  font-size: 20vw;
  margin: 20px 0 0 0 ;
}

h2 {
  color: #455A64;
  font-size: 2.8rem;
  text-align: right;
  padding-right: 5%;
  padding-top: 30px;
  margin: 0;

}

h3, h4 {
  color: white;
}

h4 {
  font-size: 1.6rem;
}

nav {
  background: #455A64;
  box-shadow: none;
}

nav .brand-logo {
  font-size: 3.2rem;
  color: white;
}

nav ul a {
  font-size: 1.5rem;
  color: white;
}

nav a {
  color: white;
}

nav .nav-wrapper {
  margin-bottom: 10px;
}

.container {
  margin-top: 14px;
}

form {
  text-align: center;
}

.logo {
  z-index: 5000;
  margin: auto;
  color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-style: italic;
  vertical-align: middle;
}

.btn {
  color: white;
  background: #455A64;
  box-shadow: none;

  transition: 1000s ease-out;
}


/*STYLING CARDS ON USER SHOW*/

.card .card-content p {
  background-color: #455A64;
  font-size: 20px;
}

.card .card-content p a {
  color: white;
}

.card .card-content {
  padding-top: 0;
}

.card-reveal p {
  color: #455A64;
}

.grey-text.text-darken-4 {
    color: #455A64 !important;
}

.register {
  margin: 0 auto;
}

.form-section {
  margin: 0 auto;
}

.nav-wrapper {
  margin: 0 auto;
}

.emojimage {
  text-align: center;
  font-size: 100px;
}

/* IMPROVING POLL APPEARANCE */

.card {
  border-radius: 0;
  transition: none;
}

.card, .collapsible-header, .collapsible-body {
  padding: 5px;
}

.collapsible-header h4 {
  color: #455A64
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  padding: 1px;
  height: 40px;
  width: 40px;
}

[type="radio"]:not(:checked)+label:before {
  display: none;
}

.newresponse span:hover label {
  font-size: 45px;
}

.card, .collapsible-header, .collapsible-body {
  background-color: white;
}

.collapsible {
  box-shadow: 0;
}

.collapsible.popout>li {
  margin-bottom: 25px;
}

#listed-group-members li p {
  color: #455A64;
  padding: 10px;
  border-bottom: 1px solid #455A64;
}


/* stuff for response rating radio buttons*/

.collapsible-body {
  position: relative;
  box-shadow: none;
}

.collapsible-body p {
  padding: 1rem;
  color: #455A64;
}

.collapsible-header {
  border-bottom: 5px solid #78909C;
  box-shadow: none;
}

.collapsible.popout>li.active, .collapsible.popout>li {
  box-shadow: none;
}

#question, div.row {
  margin: 0;
}

.comment {
  border-bottom: 1px solid #455A64;
}

.newresponse {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.newresponse p {
  color: #455A64;
  border-bottom: 1px solid #455A64;
}

.newresponse span { 
  float: left;
  position:relative; 
  margin-right: 15px;
}



#comment {
  color: #455A64;
  border-bottom: 1px solid #455A64;
  margin-bottom: 8px;
}

.newresponse .input-field label {
  color: #455A64;

}

.newresponse span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.newresponse span label {
  display:inline-block;
  width:25px;
  height:25px;
  text-align:center;
  color:#FFF;
  background:#455A64;
  font-size:25px;
  margin-right:2px;
  line-height:25px;
  border-radius:50%;
  -webkit-border-radius:50%;
}
.newresponse span:hover ~ span label,
.newresponse span:hover label,
.newresponse span.checked label,
.newresponse span.checked ~ span label {
  background: #455A64;
  color:#FFF;
}

.fa-angle-double-down:before, .fa-angle-down:before, .fa-minus:before, .fa-angle-up:before, .fa-angle-double-up:before {
  font-size: 25px;
}


/*Particles*/

canvas {
  display: block;
  vertical-align: bottom;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #455A64;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #FFFC00;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
